[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
selenium = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
pymysql = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-httpauth = "*"
celery = "*"

[requires]
python_version = "3.7"
